<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Gamr</title>
</head>


<body>
  <h1>Gamr</h1>
  <p>Welcome to Gamr</p>
  ${error ? `<em>${error}</em>`: ''}
  <form action="/users/login" method='POST'>
    <h2>Login</h2>
    <p>
      <label for="email">Email</label><br>
      <input type="text" name='email' id='email' required>
    </p>
    <p>
      <label for="password">Password</label><br>
      <input type="password" name='password' id='password' required>
    </p>
    <button type='submit'>Login</button>
  </form>
</body>
</html>
